$color-claro: #fff;
$color-oscuro: rgb(0, 0, 0);
$fuente1: "Open Sans", sans-serif;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}

body {
  background-color: $color-claro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $fuente1;
}
html {
  font-size: 62.5%;
}
